<div class="container">
  <section>
    <a href="https://codepen.io/ZonFire99/full/njdls/" class="viewFull" target="_parent">
      View in full it looks way better :)
    </a>
    <div class="error">
      <div class="wrap">
        <div class="404">
      <pre><code>
        <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
        <span class="orange">&lt;html&gt;</span>
        <span class="orange">&lt;style&gt;</span>
        <span class="green">system page status: </span>:<span class="blue">fail</span>;
        <span class="orange">&lt;/style&gt;</span>
        <span class="orange">&lt;body&gt;</span>
        ERROR 404!
				Archivo No Encontrado!
				<span class="comment">&lt;!--El archivo al que intentas acceder
					no esta disponible.--&gt;
		   </span>
        <span class="orange"></span>
        <span class="info">
          <span class="orange">&nbsp;&lt;/body&gt;</span>
          <span class="orange">&lt;/html&gt;</span>
        </span>
      </code></pre>
        </div>
      </div>
    </div>
  </section>
</div>
