<nav>
  <div class="logo">ATLANTIC R20</div>
  <div class="hamburger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <ul class="nav-links">
    <li><a href="/home">INICIO</a></li>
    <li><a href="">MI PERFIL</a></li>
    <li><a href="">REPORTAR UN PROBLEMA</a></li>
    <li><a href="">ESTADO DE LA CUENTA</a></li>
    <li><a href="">ACERCA DE <b>ATLANTIC R20</b></a></li>
    <li><button class="login-button" href="#">Cerrar Sesión</button></li>
  </ul>
</nav>
