<main>
  <mat-card>
    <div class="logo" matTooltip="Atlantic México"></div>
    <h2 class="title">Crear Cuenta</h2>

    <form (submit)="submit()" [formGroup]="usuariosFormGroup">

      <!--  NOMBRE-->
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>NOMBRE</mat-label>
        <input matInput formControlName="nombre" type="text" onpaste="return true" oncopy="return false"
               oninput="this.value = this.value.toUpperCase()" onDrop="return false" autocomplete="off">
        <mat-error *ngIf="usuariosFormGroup.controls.nombre.touched && usuariosFormGroup.controls.nombre.invalid">
          <span *ngIf="usuariosFormGroup.controls.nombre.errors.required">El NOMBRE es obligatorio</span>
        </mat-error>
      </mat-form-field>

      <!--  APELLIDOS-->
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>APELLIDOS</mat-label>
        <input matInput formControlName="apellidos" type="text" onpaste="return true" oncopy="return false"
               oninput="this.value = this.value.toUpperCase()" onDrop="return false" autocomplete="off">
        <mat-error
          *ngIf="usuariosFormGroup.controls.apellidos.touched && usuariosFormGroup.controls.apellidos.invalid">
          <span *ngIf="usuariosFormGroup.controls.apellidos.errors.required">Los APELLIDOS son obligatorios</span>
        </mat-error>
      </mat-form-field>

      <!--  CORREO-->
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>CORREO</mat-label>
        <input matInput formControlName="email" type="text">
        <mat-error *ngIf="usuariosFormGroup.controls.email.touched && usuariosFormGroup.controls.email.invalid">
          <span *ngIf="usuariosFormGroup.controls.email.errors.required">El CORREO es obligatorio</span>
          <span *ngIf="usuariosFormGroup.controls.email.errors.pattern">El CORREO es incorrecto</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button [disabled]="!usuariosFormGroup.valid">Login</button>
    </form>
    <p class="Cuenta">Ya tienes cuenta? <a routerLink="/login" class="inciar-sesion">Inicia Sesión</a></p>
  </mat-card>

  <section class="drawLogin"></section>
</main>
